/*-- scss:defaults --*/

// Colors
$snow3: #CDC9C9;
$white: #FFFFFF;
$dark-teal: #1A535C;
$light-teal: #4ECDC4;
$poppy: #FF6B6B;
$yellow: #FFE66D;
$black: #1B1B1B;

// Base document colors
$navbar-bg: $black; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $poppy; // highlight color when hovering over navbar links
$body-bg: $black; // page background 
$body-color: $white; // page text 
$footer-bg: $black; // footer 
$link-color: $light-teal; // hyperlinks 

// Inline code
$code-bg: $dark-teal; // inline code background color
$code-color: $snow3; // inline code text color

// Code blocks
$code-block-bg: $black; // code block background color

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*-- scss:rules --*/
h1, h3 {
  letter-spacing: 1px;
  font-weight: 700;
  color: $snow3;
}

.title {
  color: white;
}

.inner-but-full {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: $dark-teal;
}
